node_modules

package-lock.json

ui/build/
ui/.env.development
ui/.env.local

server/data/*
!server/data/sample_metrics.csv
!server/data/sample_metrics.headers.json
!server/data/batch/
!server/data/batch/batch_*.csv

.DS_Store

*.ipynb

server/scripts/notebooks/
server/scripts/cache/
server/scripts/anonymize.py

ltnc/

.venv